fastapi
uvicorn
httpx
pydantic
bcrypt
PyJWT
python-multipart
python-dotenv
supabase
langchain-core
langchain-community
langgraph
langchain-ollama
neo4j
langchain-openai
websockets
tavily-python
langchain-tavily
sentence-transformers
uvloop; sys_platform != 'win32'
gunicorn